
//reset
@import "grid";

@import "fonts";
@import "variables";

@import "typography";
@import "header";


@import "nav";

@import "footer";

//section
@import "welcome";
@import "about";
@import "education";
@import "skills";
@import "experience";
@import "contact";



main{
    padding-top: 60px;
}

.icon-top{
    position: fixed;
    right: 20px;
    width: 50px;
    font-size: 20px;
    height: 50px;
    bottom: 20px;
    border: 1px solid #00000021;
}