@import url('https://fonts.googleapis.com/css?family=Anton|Roboto&display=swap');

html{
    font-family: 'Roboto', sans-serif;
    //font-family: 'Anton', sans-serif;
}

h1, h2, h3, h4, h5{
    font-family: 'Anton', sans-serif;
}

.text-center {
    text-align: center !important;
}

h2{
    font-size: 60px;
    text-transform: uppercase;
    padding-bottom: 20px
}

h3 {
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
}

h4 {
    margin-bottom: 35px;
    font-weight: 100;
    font-size: 15px;
    font-family: 'Roboto';
    letter-spacing: 1.5px;
    border-bottom: solid 1px black;
    padding-bottom: 10px;
}

@media (max-width: 500px){

    h1{
        font-size: 60px;
    }

    h2{
        font-size: 50px;
    }

    h3{
        font-size: 20px;
    }

    p{
        font-size: 15px;
    }
}