@import 'variables.scss';

#welcome{
    height: 100vh;
    font-family: 'Anton', sans-serif;
    background: #1e1e1e;
    background-image: url('/assets/img/bg.png');
    a{
        color: white;
    }
    a:link {
        text-decoration: none;
    }
}

small {
    display: inline-block;
    font-size: 22px;
    background: $yellow;
    color: $black;
    padding: 5px 15px;
    font-family: 'Roboto';
    margin: 10px 15px;
    word-wrap: break-word;
}

.welcome-content{
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

h1{
    font-size: 75px;
    color: white;
}

.icon-chevron-down{
    display: block;
    -webkit-animation: pulse 1.5s infinite;
            animation: pulse 1.5s infinite;
    font-size: 30px;
    margin-top: 70px;
}

@-webkit-keyframes pulse {
    0% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); }
    50% {
      -webkit-transform: translate(0, 10px);
              transform: translate(0, 10px); }
    100% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); } }

  @keyframes pulse {
    0% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); }
    50% {
      -webkit-transform: translate(0, 10px);
              transform: translate(0, 10px); }
    100% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); } }

  @media (max-width: 500px){

    h1{
        font-size: 60px;
    }

  }
